div.product {
  padding: 1em 1.5em;
}

div.product-details {
  padding: 1em 1.5em;
  min-width: 27vw;
  max-width: 27vw;
  line-height: 1.2em;

  @media only screen and (max-width: 480px) {
    /* For mobile phones: */
    min-width: 100vw;
    max-width: 100vw;
    line-height: normal;
  }
  
  span {
    font-size: 14px;
  }

  span.read-more {
    color: rgb(109, 3, 3);
    cursor: pointer;
  }

  span.spec {
    background-color: #eee;
    width: fit-content;
    padding: 0.3em 0.8em;
    display: block;
  }

  div.spec-list {
    span {
      display: block;
    }
  }

  div.cart-button {
    position: fixed;
    bottom: 6vh;
    width: 24vw;

    @media only screen and (max-width: 480px) {
      /* For mobile phones: */
      min-width: 90vw;
      max-width: 90vw;
      bottom: 1vh;
    }

    button {
      width: 16em;
      border-radius: 2em;
      padding: 0.5em;
    }
  }
}