header {
  position: fixed;
  background-attachment: fixed;
  z-index: 500;
  top: 2.5em;
  padding: 1em 0.5em;
  background-color: transparent;
  min-width: 27vw;
  max-width: 27vw;
  min-height: 10vh;

  @media only screen and (max-width: 480px) {
    /* For mobile phones: */
    min-width: 100vw;
    max-width: 100vw;
    min-height: 12vh;
    top: 0;
    position: fixed;
    background-attachment: fixed;
  }

  div.menu {
    padding-top: 1em;
    margin-left: -0.5em;

    a, a:active, a:hover{
      color: #000;
      text-decoration: none;
    }
  }

  div.logo {
    margin: 0 auto;
    width: 20em;
    text-align: center;
  }

  div.right-corner {
    position: absolute;
    right: 0;
    padding-top: 1em;

    span.badge {
      margin-top: -0.3em;
      position: absolute;
      margin-left: -1em;
      font-size: 8px;
    }
  }
}

.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}