/* You can add global styles to this file, and also import other style files */

body,
html {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background-color: #f9f9f9;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    margin: auto;
    min-width: 27vw;
    height: 90vh !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }
}

section.products {
  height: 78vh;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5.5em;
  min-width: 45vw;

  .product {
    padding: 1em;
    cursor: pointer;

    h5 a, h5 a:active, h5 a:link {
      color: #000;
      text-decoration: none;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    span.price {
      font-size: 16px;
    }

    span.summary {
      font-size: 12px;
    }
    
    span.favorite {
      cursor: pointer;
    }
  }
}
